<th scope="row">{{todo.id}}</th>
<td>
    <ng-template #tipContent>{{todo.completed ? 'Completed' : 'Unfinished'}}</ng-template>
    <ui-icon class="todo-status"
             [name]="todo.completed ? 'fa-check-square-o' : 'fa-square-o'"
             [ngbTooltip]="tipContent"
             (click)="todo.completed = !todo.completed"></ui-icon>
</td>
<td [innerHtml]="todo.title | highlight:search"></td>
<td>
    <button class="btn btn-primary btn-sm" (click)="remove.emit(todo)">
        Remove
    </button>
</td>
