<div class="row">
    <div class="col">
        <h2>{{title}} <span *ngIf="search">({{count}} found)</span></h2>
    </div>
    <div class="col-sm-6 col-md-4">
        <form>
            <div class="form-group">
                <input class="form-control"
                       name="search"
                       placeholder="Search"
                       [ngModel]="search"
                       (ngModelChange)="setSearch($event)">
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col">
        <ng-content *ngIf="count > 0"></ng-content>
        <p *ngIf="count == 0">
            There are no {{title | lowercase}} matching your search term.
        </p>
    </div>
</div>
