<div class="row">
    <div class="col">
        <h2>{{title}} <span *ngIf="search">({{count}} found)</span></h2>
    </div>
    <div class="col-sm-6 col-md-5">

        <form>
            <div class="form-row">
                <div class="form-group col-10">
                    <label for="searchInput" class="sr-only">Search</label>
                    <input class="form-control"
                           id="searchInput"
                           name="search"
                           placeholder="Search"
                           [ngModel]="search"
                           (ngModelChange)="setSearch($event)">
                </div>
                <div class="form-group col-2">
                    <ng-template #tipContent>{{getSortTooltip()}}</ng-template>
                    <button type="button"
                            class="btn btn-block"
                            [class.btn-secondary]="sort == ''"
                            [class.btn-primary]="sort != ''"
                            placement="top"
                            [ngbTooltip]="tipContent"
                            (click)="setSort(getNextSort())">
                        <ui-icon [name]="getSortIcon()"></ui-icon>
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>
<div class="row">
    <div class="col">
        <ng-content *ngIf="count > 0"></ng-content>
        <p *ngIf="count == 0">
            There are no {{title | lowercase}} matching your search term.
        </p>
    </div>
</div>
