<div class="row">
    <div class="col">
        <h2>{{title}} <span *ngIf="search">({{count}} found)</span></h2>
    </div>
    <div class="col-sm-6 col-md-5">

        <form>
            <div class="form-row">
                <div class="form-group"
                     [class.col-10]="!filter"
                     [class.col-6]="filter">
                    <label for="searchInput" class="sr-only">Search</label>
                    <input class="form-control"
                           id="searchInput"
                           name="search"
                           placeholder="Search"
                           [ngModel]="search"
                           (ngModelChange)="setSearch($event)">
                </div>
                <div class="form-group col-2">
                    <ng-template #tipContent>{{getSortTooltip()}}</ng-template>
                    <button type="button"
                            class="btn btn-block"
                            [class.btn-secondary]="sort == ''"
                            [class.btn-primary]="sort != ''"
                            placement="top"
                            [ngbTooltip]="tipContent"
                            (click)="setSort(getNextSort())">
                        <ui-icon [name]="getSortIcon()"></ui-icon>
                    </button>
                </div>

                <div class="form-group col-4" *ngIf="filter">
                    <div ngbDropdown>
                        <button class="btn btn-outline-primary btn-block"
                                id="displayDropDown"
                                ngbDropdownToggle>
                            {{filter | titlecase }}
                        </button>
                        <div ngbDropdownMenu aria-labelledby="displayDropDown">
                            <button class="dropdown-item"
                                    *ngFor="let f of filters"
                                    (click)="setFilter(f)">{{f | titlecase}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
<div class="row">
    <div class="col">
        <ng-content *ngIf="count > 0"></ng-content>
        <p *ngIf="count == 0">
            There are no {{title | lowercase}} matching your search term.
        </p>
    </div>
</div>
