<ui-view-header title="Albums"
                [count]="(albums | filter:{title:search}).length"
                [(search)]="search"></ui-view-header>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Photos</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let album of albums | filter:{title:search}">
        <th scope="row">{{album.id}}</th>
        <td>{{album.title}}</td>
        <td>{{album.photos?.length}}</td>
        <td>
            <button class="btn btn-primary btn-sm">View</button>
        </td>
    </tr>
    </tbody>
</table>
