<ui-view-header data-title="To Do List"
                [count]="(todos | filter:{title:search} | filter:getFilterOptions()).length"
                [(search)]="search"
                [(sort)]="sort"
                [(filter)]="filter"
                [filters]="filters">

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Status</th>
            <th scope="col">Title</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let todo of todos | filter:{title:search} | filter:getFilterOptions() | sort:{key:'title',dir:sort} | slice:((page-1) * 10):(page * 10)"
            todos-row
            [todo]="todo"
            [search]="search"
            (remove)="todo.removing = true"
            [@fadeOut]="todo.removing ? 'removing' : ''"
            (@fadeOut.done)="$event.toState == 'removing' ? remove(todo) : false">
        </tr>
        </tbody>
    </table>

    <ngb-pagination [collectionSize]="(todos | filter:{title:search} | filter:getFilterOptions()).length"
                    [(page)]="page"
                    [pageSize]="10"></ngb-pagination>

</ui-view-header>
