<ui-view-header data-title="To Do List"
                [count]="(todos | filter:{title:search}).length"
                [(search)]="search"
                [(sort)]="sort">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Status</th>
            <th scope="col">Title</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let todo of todos | filter:{title:search} | sort:{key:'title',dir:sort} | slice:((page-1) * 10):(page * 10)">
            <th scope="row">{{todo.id}}</th>
            <td>
                <ng-template #tipContent>{{todo.completed ? 'Completed' : 'Unfinished'}}</ng-template>
                <ui-icon class="todo-status"
                         [name]="todo.completed ? 'fa-check-square-o' : 'fa-square-o'"
                         [ngbTooltip]="tipContent"
                         (click)="todo.completed = !todo.completed"></ui-icon>
            </td>
            <td [innerHtml]="todo.title | highlight:search"></td>
            <td>
                <button class="btn btn-primary btn-sm">Remove</button>
            </td>
        </tr>
        </tbody>
    </table>

    <ngb-pagination [collectionSize]="(todos | filter:{title:search}).length"
                    [(page)]="page"
                    [pageSize]="10"></ngb-pagination>

</ui-view-header>
