$fa-font-path: '../../node_modules/font-awesome/fonts';

/**
 * Defines a set of base units for consistent UI spacing.
 */
$unit: 1rem;
$unit-xsm: $unit;
$unit-sm: $unit * 2;
$unit-md: $unit * 3;
$unit-lg: $unit * 4;
$unit-xlg: $unit * 5;

$padding: $unit;
$margin: $unit-sm;

/**
 * Placing module SASS options in a common file make it easier to make large UI style changes.
 */
$ui-loading-bar-height: 2px;
$ui-loading-bar-z-index: 2000;
$ui-toast-width: 375px;

$alert-padding: $unit-sm;
$alert-border-radius: 3px;

