@import "../Config";

:host {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;

    .container {
        margin-top: ($navbar-padding-y * 2) + $nav-link-height + $spacer;

        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #eee;
    }
}
