<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" routerLink="/posts"><strong>Mini</strong>App</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/posts">Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/albums">Albums</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/todos">To Dos</a>
            </li>
        </ul>
        <users-info name="Leanne Graham"
                    url="http://www.example.com/"
                    company="Romaguera-Crona">
        </users-info>
        <a class="nav-link" routerLink="/users/logout">Logout</a>
    </div>
</nav>

<main role="main" class="container">
    <router-outlet></router-outlet>
</main>
