@import "../Config";

:host {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;

    users-info {
        margin-right: $margin;
    }

    .container {
        margin-top: $font-size-base + $navbar-padding-x * 2 + $spacer;
    }
}
