<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/posts"><strong>Mini</strong>App</a>
    <button class="navbar-toggler"
            (click)="toggleCollapse = !toggleCollapse"
            type="button"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.show]="toggleCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/posts">Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/albums">Albums</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/todos">To Dos</a>
            </li>
        </ul>
        <users-info></users-info>
        <a class="nav-link" routerLink="/users/logout">Logout</a>
    </div>
</nav>
<ui-toast [stack]="false"></ui-toast>
<main role="main" class="container">
    <router-outlet></router-outlet>
</main>
