@import "../Config";

:host {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;

    &.login {
        background-color: #eee;
    }

    .app-loading {
        $width: 300px;
        $height: 200px;
        display: block;
        position: relative;
        width: $width;
        left: 50%;
        top: 50vh;
        margin-left: -($width / 2);
        margin-top: -($height / 2);
    }

    .logo {
        text-align: center;
        font-size: 3rem;
        .first-word {
            font-weight: bolder;
        }
    }

    p {
        display: block;
        text-align: center;
    }
}
