<div class="row photos" *ngFor="let row of pages[page-1]">
    <div class="col" *ngFor="let photo of row">
        <albums-photo *ngIf="photo" [photo]="photo"></albums-photo>
    </div>
</div>
<div class="row" *ngIf="!pages.length">
    <div class="col">
        <p>
            There are no photos in this album.
        </p>
    </div>
</div>
<div class="row">
    <div class="col">
        <ngb-pagination
            class="mx-auto"
            [collectionSize]="photos.length"
            [(page)]="page"
            [pageSize]="columns * rows"></ngb-pagination>
    </div>
</div>
